body {
	background-color: #dddddd;
}

html, body .container{
	height: 100%;
}

.container {
	margin:auto;
	padding: 100px 0;
}

.calculator {
	border-radius: 15px;
	margin: auto;
	max-width: 300px;
	min-width: 200px;
}

.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12{
	margin: 0;
	padding: 0;
}

.screen {
	background-color: white;
	border: 2px solid black;
	border-radius: 2px;
	font-size: 3em;
	font-weight: 900;
	margin: auto;
	width: 100%;
	/*max-width: 450px;*/
	max-height: 75px;
	min-height: 50px; 
	/*min-width: 250px;*/
	padding-right: 5px;
	opacity: .5;
	text-align: right;
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3{
	margin: 0;
	padding: 0;
}

.btn {
	background-color: grey;
	border-radius:0px;
	border: 2px solid black;
	font-size: 1.8em;
	font-weight: 800;
	width: 100%;
}

.btn:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color: grey;
	opacity: 70%
}

.init {
	background-color: red;
}

.init:hover {	
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color: red;
	opacity: 50%;
}

.plusMinus {
	background-color: blue;
}

.plusMinus:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color: blue;
	opacity: 50%;
}

.operator {
	background-color: orange;
}

.operator:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color: orange;
	opacity: 50%;
}

p.author {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
}
